.menu {
    width: 150px;
}

.menu-header {
    font-size: 18px;
    text-align: center;
}

.header {
    margin-top: 10px;
}

.count {
    font-size: 14px;
    margin: 10px 0;
}

hr {
    margin: 0;
}
